[submodule "src/rootlesshooks/ellekit"]
	path = src/ellekit/ellekit
	url = https://github.com/evelyneee/ellekit
[submodule "tools/libdmg-hfsplus"]
	path = tools/libdmg-hfsplus
	url = https://github.com/palera1n/libdmg-hfsplus.git
[submodule "src/bridgehook/dobby"]
	path = src/bridgehook/dobby
	url = https://github.com/jmpews/Dobby.git
[submodule "src/payload/libroot"]
	path = src/payload/libroot
	url = https://github.com/opa334/libroot.git
